default_shell "nu"
theme "noriko"
themes {
	noriko {
		bg "#dddddd"
		black "#e6e6e6"
		blue "#002699"
		cyan "#007399"
		fg "#000000"
		green "#009926"
		magenta "#730099"
		orange "#997300"
		red "#990026"
		white "#4d4d4c"
		yellow "#739900"
	}
}
